header {
  height: 7em;
  width: 100%;
  background: #303d74;
  color: white;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

header img {
  height: 4em;
  width: 4em;
  float: left;
  margin-left: 0.5em;
  margin-top: 1.0em;
  border-radius: 50%;
}

main img {
  width: 90%;
  height: auto;
  margin-left: 5%;
}

h1 {
  margin-top: 1.0em;
  margin-left: 0.3em;
  font-size: 2em;
  float: left;
}

.navbar ul {
  display: none;
}

.icon-menu {
  margin: 1em;
  transform: scale(1.5);
  float: right;
}

.navbar:hover ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  float: right;
  display: block;
}

.navbar li {
  display: block;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #7b85ad;
}

main {
  width: 90%;
  margin-left: 5%;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 0.5em 0;
}

p {
  margin: 1em;
}

footer {
  color: white;
  height: 5em;
  margin-top: 1em;
  background: #303d74;
}

footer p {
  margin-top: 1.5em;
  font-size: 1.2em;
  float: left;
}

.icon-github {
  margin-top: 2em;
  margin-right: 2em;
  float: right;
  border: 1px #303d74 solid;
  transform: scale(1.5);
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .icon-github:hover {
    background: #fff;
    color: #303d74;
    border-radius: 50%;
  }

  .navbar ul {
    display: block;
    float: right;
    margin-top: 2em;
    margin-right: 2em;
  }

  .navbar li {
    border-radius: 5px;
    display: inline-block;
  }

  .navbar:hover ul {
    margin-top: 2em;
    margin-right: 2em;
    float: right;
    display: block;
  }

  .navbar li:hover {
    background: #fff;
    color: #303d74;
  }
}

p {
  width: 40%;
  margin-left: 30%;
}

footer p {
  margin-left: 5%;
}
