header img {
  height: 4em;
  width: 4em;
  float: left;
  margin-left: 0.5em;
  margin-top: 1.0em;
  border-radius: 50%;
}

main img {
  margin-bottom: 0.5em;
}

main p {
  margin-bottom: 1em;
}

footer p {
  margin-top: 1.5em;
  font-size: 1.2em;
  margin-left: 5%;
  float: left;
}

.navbar ul {
  display: none;
}

.icon-menu {
  margin: 1em;
  transform: scale(1.5);
  float: right;
}

.navbar:hover ul {
  margin-top: 0.5em;
  float: right;
  display: block;
}

.navbar li {
  display: block;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: #7b85ad;
}

.interest img:hover {
  cursor: pointer;
}

.icon-github {
  border: 1px #303d74 solid;
  clear: left;
  float: left;
  margin-top: 0.5em;
  margin-left: 1.0em;
}

button:hover {
  cursor: pointer;
  background: #7b85ad;
}

#facts li {
  margin-left: 1.5%;
  list-style: disc;
}

#facts li ul li {
  list-style: circle;
}

@media only screen and (max-width: 270px) {
  .icon-github {
    display: none;
  }
}

@media only screen and (min-width: 340px) {
  .icon-github {
    clear: none;
    float: right;
    transform: scale(1.5);
    margin-top: 2em;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 815px) {
    header img {
      margin-left: 8%;
    }

    .icon-menu {
      display: none;
    }

    .icon-github:hover {
      background: #fff;
      color: #303d74;
      border-radius: 50%;
    }

    .navbar ul {
      display: block;
      float: right;
      margin-top: 1.5em;
      margin-right: 2em;
    }

    .navbar li {
      border-radius: 5px;
      display: inline-block;
    }

    .navbar:hover ul {
      margin-top: 1.5em;
      margin-right: 2em;
      float: right;
      display: block;
    }

    .navbar li:hover {
      background: #fff;
      color: #303d74;
    }

    .interest {
      width: 44%;
      margin-left: 5%;
      display: inline-block;
    }
}

@media only screen and (min-width: 1021px) {
  .interest {
    width: 30%;
    margin-left: 3%;
  }

  .interest img {
    margin-left: 5%;
  }
}
